/* COLOR PALETTE 

CYAN		00AFEF
MAGENTA		EB008C

*/


@import url("reset.css");
@import url("responsive-gs-24col.css");

.container						{background-color: rgba(247,255,219,0.56)}

/* GLOBAL */
body							{ padding: 30px 0;
								  font-size: 0.875em; /* 14/16 */
								  font-family: sans-serif;
								  color: #333;
								  line-height: 1.5; }

a								{ text-decoration: underline;
								  color: #333; }
a:hover							{ text-decoration: underline;
								  color: #666; }


/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6			{ margin: 0 0 .5em 0;
								  line-height: 1.2; }
h1								{ font-size: 2.14285714285714em; /* 30/14 */
								  font-family: "bebas-neue" }
h2								{ font-size: 1.28571428571429em; /* 23/14 */
								  font-family: Consolas, monaco, "Andale Mono", AndaleMono, monospace; }
h3								{ font-size: 1.6em; }
h4								{ font-size: 1.4em; }
h5								{ font-size: 1.2em; }
h6								{ font-size: 1em; }

p								{ margin-bottom: 20px; }

code p							{ margin-bottom: 12px; }
code							{ font-family: Consolas, monaco, "Andale Mono", AndaleMono, monospace; }

/* REUSABLE CLASSES */
.fl_left						{ float: left; }
.fl_right						{ float: right; }

.pad							{ padding: 15px; }	

.btn							{ display: block;
								  height: 85px;
								  margin: 0 0 20px 0;
								  text-align: center;
								  line-height: 85px;
								  font-size: 1.57142857142857em; /* 22/14 */
								  font-style: italic;
								  font-weight: 200;
								  text-decoration: none;
								  color: #FFF;
								  background: #333; }
.btn:hover						{ text-decoration: none;
								  color: #FFF;
								  background: #666; }

.share							{ margin-left: 10px; 
								  overflow: hidden; }

.secondary .module				{ padding: 20px;
								  -webkit-box-sizing: border-box;
								  -moz-box-sizing: border-box;
								  box-sizing: border-box;
								  color: #FFF;
								  background: #333; }

.first_level					{ text-indent: 0; }
.second_level					{ text-indent: 30px; }
.third_level					{ text-indent: 60px; }
.fourth_level					{ text-indent: 90px; }

.sel	 						{ color: #859900 }

/* HEADER */
header							{ position: relative;
								  padding: 0 0 15px 0; }

#logo							{ line-height: 1;
								  margin-bottom: 0; }
#logo img						{ max-width: 100%; }							  

#description					{ position: absolute; 
								  bottom: 15px; 
								  right: 0;
								  margin-bottom: 0; 
								  font-size: 1.64285714285714em; /* 23/14 */
								  font-weight: 200;
								  font-style: italic;
								  font-family: sans-serif;
								  line-height: 1.4; }

/* FOOTER */
footer							{ padding: 10px 0 0 0;
								  border-top: 1px solid #EFEFEF;
								  font-size: 80%; }
								  
								  								
						  
/* SMARTPHONES - PORTRAIT & LANDSCAPE */
@media
only screen and (min-device-width: 240px) and (max-device-width: 480px),
only screen and (min-width: 240px) and (max-width: 480px) {
	
	body							{ padding: 10px 0; }
	
	.container						{ width: 95%; }
	
	.col							{ margin: 0;
									  width: 100%; }
	
	.span_1, .span_2, .span_3,
	.span_4, .span_5, .span_6,
	.span_7, .span_8, .span_9,
	.span_10, .span_11, .span_12,
	.span_13, .span_14, .span_15,
	.span_16, .span_17, .span_18,
	.span_19, .span_20, .span_21,
	.span_22, .span_23				{ width: 100%; }
	
	.push_1, .push_2, .push_3, 
	.push_4, .push_5, .push_6,
	.push_7, .push_8, .push_9,
	.push_10, .push_11, .push_12, 
	.push_13, .push_14, .push_15,
	.push_16, .push_17, .push_18,
	.push_19, .push_20, .push_21,
	.push_22, .push_23				{margin-left: 0px !important}
	
	
	header							{ padding: 0; }
	#description					{ position: relative;
									  font-size: 1em;
									  top: 5px;
									  position: relative;
									  width: 100%;  }
	
	.btn							{ margin: 0 0 10px; }
	article h1						{ margin: 0; }
	p								{ -webkit-text-size-adjust: none; }
}

/* SMARTPHONES - LANDSCAPE */
@media 
only screen and (min-width: 321px) { }

/* SMARTPHONES - PORTRAIT */
@media 
only screen and (max-width: 320px) {

	 }

/* IPADS - PORTRAIT & LANDSCAPE */
@media 
only screen and (min-device-width: 481px) and (max-device-width: 1024px),
only screen and (min-width: 481px) and (max-width: 1024px) {
	
	.container						{ width: 95%; }
	
	header .span_7,
	header .span_15					{ width: 48%; }
	header .span_15					{ float: right; }
	#description					{ font-size: 1.2em; /* 18/14 */ }
	
}

/* IPADS - LANDSCAPE */
@media 
only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	
	.container						{ width: 95%; }
	
}

/* IPADS - PORTRAIT */
@media 
only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	
	.container						{ width: 95%; }
	h1								{font-size: 1.5em}
	h2								{font-size: 1.3em}
	h3								{font-size: 1.0em}
}


/* DESKTOPS & LAPTOPS */
/*
@media 
only screen and (min-width: 1024px) {
	
	.container						{ max-width: 1000px; }
	
}
*/

@media 
only screen and (min-width: 1224px) {
	
	.container						{ max-width: 1200px; }
	h1								{font-size: 2.5em}
	h2								{font-size: 2.2em}
	h3								{font-size: 2.0em}
}

/* LARGE SCREENS */
@media 
only screen and (min-width : 1824px) {
	
/* 	.container						{ max-width: 1800px; } */
	h1								{font-size: 3.5em}
	h2								{font-size: 3.0em}
	h3								{font-size: 2.8em}

	
}

/* RETINA DISPLAY */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}								  
								  