/* 
	24 COLUMN - RESPONSIVE GRID SYSTEM
	DEVELOPED BY DENIS LEBLANC
	URL - http://responsive.gs
	LICENSED UNDER GPL & MIT
*/

/* MAIN CONTAINER */
.container						{ margin: 0 auto; }

/* SELF CLEARING FLOATS - CLEARFIX METHOD
----------------------------------------------------------------------------------------------------*/
.row:after,
.clr:after,
.group:after	 				{ content: ""; 
								  display: block; 
								  height: 0; 
								  clear: both; 
  								  visibility: hidden; }

/* DEFAULT ROW STYLES */
.row							{ margin-bottom: 20px; } /* set according to preference*/
								  
/* DEFAULT COLUMN STYLES */
.col 							{ display: block;
								  float:left;
								  margin-left: 2%; }

/* RESET MARGINS */
.col:first-child 				{ margin-left: 0; } /* all browsers except IE6 and lower */

/* COLUMN WIDTHS*/
.span_1 						{ width: 2.25%; background-color: rgba(255,0,0,0.5)}
.span_2 						{ width: 6.5%; background-color: rgba(255,0,0,0.5)}
.span_3 						{ width: 10.75%; background-color: rgba(255,0,0,0.5)}
.span_4 						{ width: 15.0%; background-color: rgba(255,0,0,0.5)}
.span_5 						{ width: 19.25%; background-color: rgba(255,0,0,0.5)}
.span_6 						{ width: 23.5%; background-color: rgba(255,0,0,0.5)}
.span_7 						{ width: 27.75%; background-color: rgba(255,0,0,0.5)}
.span_8 						{ width: 32.0%; background-color: rgba(255,0,0,0.5)}
.span_9 						{ width: 36.25%; background-color: rgba(255,0,0,0.5)}
.span_10 						{ width: 40.5%; background-color: rgba(255,0,0,0.5)}
.span_11 						{ width: 44.75%; background-color: rgba(255,0,0,0.5)}
.span_12 						{ width: 49.0%; background-color: rgba(255,0,0,0.5)}
.span_13 						{ width: 53.25%; background-color: rgba(255,0,0,0.5)}
.span_14 						{ width: 57.5%; background-color: rgba(255,0,0,0.5)}
.span_15 						{ width: 61.75%; background-color: rgba(255,0,0,0.5)}
.span_16 						{ width: 66.0%; background-color: rgba(255,0,0,0.5)}
.span_17 						{ width: 70.25%; background-color: rgba(255,0,0,0.5)}
.span_18 						{ width: 74.5%; background-color: rgba(255,0,0,0.5)}
.span_19 						{ width: 78.75%; background-color: rgba(255,0,0,0.5)}
.span_20 						{ width: 83.0%; background-color: rgba(255,0,0,0.5)}
.span_21 						{ width: 87.25%; background-color: rgba(255,0,0,0.5)}
.span_22 						{ width: 91.5%; background-color: rgba(255,0,0,0.5)}
.span_23 						{ width: 95.75%; background-color: rgba(255,0,0,0.5)}
.span_24 						{ width: 100%; }



/* Push & Pull - Alles hieronder toegevoegd door Martin 
------------------------------------------------------- */

/* Position */

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15,
.push_16, .pull_16,
.push_17, .pull_17,
.push_18, .pull_18,
.push_19, .pull_19,
.push_20, .pull_20,
.push_21, .pull_21,
.push_22, .pull_22,
.push_23, .pull_23 {
  position: relative;
}



.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
  
}

/* Push -> 24 Columns */


	  .push_1 				{margin-left: 6.25%;}
	  .push_2 				{margin-left: 10.5%;}
	  .push_3 				{margin-left: 14.75%;}
	  .push_4 				{margin-left: 19.0%;}
	  .push_5 				{margin-left: 23.25%;}
	  .push_6 				{margin-left: 27.5%;}
	  .push_7 				{margin-left: 31.75%;}
	  .push_8 				{margin-left: 36.0%;}
	  .push_9 				{margin-left: 40.25%;}
	  .push_10 				{margin-left: 44.5%;}
	  .push_11 				{margin-left: 48.75%;}
	  .push_12 				{margin-left: 53.0%;}
	  .push_13 				{margin-left: 57.25%;}
	  .push_14 				{margin-left: 61.5%;}
	  .push_15 				{margin-left: 65.75%;}
	  .push_16 				{margin-left: 70.0%;}
	  .push_17				{margin-left: 74.25%;}
	  .push_18 				{margin-left: 78.5%;}
	  .push_19 				{margin-left: 82.75%;}
	  .push_20 				{margin-left: 87.0%;}
	  .push_21 				{margin-left: 91.25%;}
	  .push_22 				{margin-left: 95.5%;}
	  .push_23 				{margin-left: 99.75%;}


/* Push first child -> 24 columns */

	.push_1:first-child 		{margin-left: 4.25%}
	.push_2:first-child 		{margin-left: 8.5%}
	.push_3:first-child			{margin-left: 12.75%;}
	.push_4:first-child 		{margin-left: 17.0%;}
	.push_5:first-child 		{margin-left: 21.25%;}
	.push_6:first-child 		{margin-left: 25.5%;}
	.push_7:first-child 		{margin-left: 29.75%;}
	.push_8:first-child 		{margin-left: 34.0%;}
	.push_9:first-child 		{margin-left: 38.25%;}
	.push_10:first-child 		{margin-left: 42.5%;}
	.push_11:first-child 		{margin-left: 46.75%;}
	.push_12:first-child 		{margin-left: 51.0%;}
	.push_13:first-child 		{margin-left: 55.25%;}
	.push_14:first-child 		{margin-left: 59.5%;}
	.push_15:first-child 		{margin-left: 63.75%;}
	.push_16:first-child 		{margin-left: 68.0%;}
	.push_17:first-child 		{margin-left: 72.25%;}
	.push_18:first-child 		{margin-left: 76.5%;}
	.push_19:first-child 		{margin-left: 80.75%;}
	.push_20:first-child 		{margin-left: 85.0%;}
	.push_21:first-child 		{margin-left: 89.25%;}
	.push_22:first-child 		{margin-left: 93.5%;}
	.push_23:first-child 		{margin-left: 97.75%;}



/* Pull -> 24 Columns */

  .pull_1 {
  left: -2.25%;
}

  .pull_2 {
  left: -6.5%;
}

  .pull_3 {
  left: -10.75%;
}

  .pull_4 {
  left: -15%;
}

  .pull_5 {
  left: -19.25%;
}

  .pull_6 {
  left: -23.5%;
}

  .pull_7 {
  left: -27.75%;
}

  .pull_8 {
  left: -32.0%;
}

  .pull_9 {
  left: -36.25%;
}

  .pull_10 {
  left: -40.5%;
}

  .pull_11 {
  left: -44.75%;
}

  .pull_12 {
  left: -49.0%;
}

  .pull_13 {
  left: -53.25%;
}

  .pull_14 {
  left: -57.5%;
}

  .pull_15 {
  left: -61.75%;
}

  .pull_16 {
  left: -66.0%;
}

  .pull_17 {
  left: -70.25%;
}

  .pull_18 {
  left: -74.5%;
}

  .pull_19 {
  left: -78.75;
}

  .pull_20 {
  left: -83.0%;
}

  .pull_21 {
  left: -87.25%;
}

  .pull_22 {
  left: -91.5%;
}

  .pull_23 {
  left: -95.75%;
}

/* Clear Floated Elements */

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after,
 :before,
 :after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
 :after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
  {
  zoom: 1;
}